/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-image: url(./assets/yiqun-tang-3o7O_6fi7Qc-unsplash.jpg);
    color: white;
}
button{
    margin-right: 4%;
}
